project/client/node_modules
*.pyc
db.sqlite3
*.mo
*webpack-stats-local.json
project/client/main/static/
project/static/
project/client/report.html
.coverage
.cache
htmlcov/
coverage/
jest_*
env
environment
*__pycache__
0001_initial.py
0002_auto_20220216_0416.py
0003_auto_20220216_0421.py
